.iconGrid {
	display:grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5px;
}

.bigIcon{
	width: 75px;
	height: 75px;
	backface-visibility: hidden; /*pour eviter ques les icones bavent et créent une ligne diagonale*/
		display: flex; /* Ajouter flex pour centrer le SVG */
	align-items: center;
	justify-content: center;
}

.bigIcon svg {
		max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.marginAuto{
	margin: auto;
}

.selected {
	border: 2px solid var(--font-orange);
	color: var(--font-orange)
}

.displayerContainer {
	backface-visibility: hidden;
}
