.containerBandeau{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.containerTextes{
	width: 60%;
	margin: 0 20px;
}

.titre {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

.bouton {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--font-white);
	background-color: var(--background-secondary);
	padding: 12px 16px;
}

.label{
	font-weight: 700;
}

.preview{
	font-weight: 700;
	margin: 20px 0 0 0; 
}