.searchPageContainer {
    width: min(90%, 1290px);
    margin: 0 auto;
    padding: 50px 0;
}

.resultGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 25px;
    /* width: min(80%, 1290px); */
    margin: 25px auto;
}

.h1 {
    font-family: var(--font-ibm-plex);
    font-size: 30px;
    font-weight: 700;
    /* margin-bottom: 40px; */
}

.h2 {
    font-family: var(--font-actor);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

@media (max-width:768px){
	.searchPageContainer{
		padding: 20px 0;
	}
	.resultGrid{
		gap:10px;
		grid-template-columns: 1fr;
	}
}