[build]
  command = "pnpm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "22"
  PNPM_VERSION = "10"



# Suppression trailing slash (backup si Next.js ne le fait pas)
[[redirects]]
  from = "/*/"
  to = "/:splat"
  status = 301