.containerBloc, .containerBlocHome, .containerBlocContact{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

footer .containerBloc, footer .containerBlocHome, footer .containerBlocContact{
	align-items: flex-start;
}

.label{
	font-weight: 700;
}

.smallBorder, .smallBorderTextArea{
	border: 1px solid #17383e18 
}

.smallBorderTextArea{
	width: 100%;
	background-color:rgb(245, 247, 247);
}

.smallBorderTextArea:focus{
	outline:none;
	border: 1px solid var(--background-pdf-related)
}

.smallBorderTextArea:focus-visible{
	outline: 2px solid var(--font-pdf-related);
  outline-offset: 2px;
	border: 1px solid var(--background-pdf-related)
}

.orange{
	color:var(--font-orange)
}
.titreBloc, .titreBlocHome, .titreBlocContact{
	font-size: 22px;
	font-weight:700;
	margin:5px 0 24px 0;
	text-align: center;
}


.descriptionBloc, .descriptionBlocHome, .descriptionBlocContact{
	text-align: center;
}

footer .descriptionBloc, footer .descriptionBlocHome, footer .descriptionBlocContact{
	text-align:left;
}

.linkBloc, .linkBlocHome{
	display: block;
}

.linkBlocHome:hover, .linkBlocHome:focus-visible{
  box-shadow: 
    0 0 20px color-mix(in srgb, var(--font-orange) 30%, transparent);
    
}

.linkBloc:hover, .linkBloc:focus-visible{
  box-shadow: 
    0 0 20px color-mix(in srgb, var(--font-default) 30%, transparent)
    /*, 0 0 40px color-mix(in srgb, var(--font-default) 10%, transparent)*/
	; 
    
}

.linkBlocHome:focus-visible, .linkBloc:focus-visible{
		outline: 2px solid var(--font-pdf-related);
  outline-offset: 2px;
}

@media (max-width:768px){
	.titreBloc, .titreBlocHome, .titreBlocContact{
		margin:5px 0 12px 0;
	}
}