.containerBloc, .containerBlocHome, .containerBlocContact{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

footer .containerBloc, footer .containerBlocHome, footer .containerBlocContact{
	align-items: flex-start;
}

.label{
	font-weight: 700;
}

.smallBorder{
	border: 1px solid #17383e18 
}

.orange{
	color:var(--font-orange)
}
.titreBloc, .titreBlocHome, .titreBlocContact{
	font-size: 22px;
	font-weight:700;
	margin:5px 0 24px 0;
}


.descriptionBloc, .descriptionBlocHome, .descriptionBlocContact{
	text-align: center;
}

footer .descriptionBloc, footer .descriptionBlocHome, footer .descriptionBlocContact{
	text-align:left;
}

.linkBloc, .linkBlocHome{
	display: block;
}

.linkBlocHome:hover{
  box-shadow: 
    0 0 20px color-mix(in srgb, var(--font-orange) 30%, transparent);
    
}

.linkBloc:hover{
  box-shadow: 
    0 0 20px color-mix(in srgb, var(--font-default) 30%, transparent)
    /*, 0 0 40px color-mix(in srgb, var(--font-default) 10%, transparent)*/
	; 
    
}