.header {
    background-color: var(--background-layout);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-white);
    width: min(90%, 1290px);
    margin: 0 auto;
    font-weight: 600;
}

.headerMobile{
	display: none;
}

.allBtnContainer {
    display: flex;
    /* gap: 50px; */
}

/* .allBtnContainer a{
	padding: 25px;
	text-transform: uppercase;
} */

.mainBtn:hover {
    color: var(--font-orange);
    text-decoration: underline;
}

.otherBtn:hover{
	color: var(--font-orange);
    text-decoration: underline;
}

.logoContainer{
	position:relative;
	max-height: 94px;
    max-width: 200px;
    width: 13vw;
    height: 94px;
}

.logo {

    object-fit: contain;
}

.current {
    /* text-decoration: underline; */
    color: var(--font-default);
    font-weight: 700;
}

.inline {
    display: inline;
}

.mainBtn {
    padding: 25px;
    text-transform: uppercase;
}

.otherBtns {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    background-color: var(--background-dropdown);
    font-size: 12px;
	font-weight: 600;
    line-height: 1;
}

.otherBtn {
    padding: 15px;
    text-transform: uppercase;
}

.buttonEdit{
	color:var(--font-default);
}

.auth {
	color: var(--font-white);
	background-color: var(--font-orange);
	position:absolute;
	cursor:pointer;
	top: 3.5rem;
	left: 15px;
	border-radius: 5px;
	padding: 5px;
	line-height: 1;
}

.error {
	color: var(--font-orange);
	font-style: italic;
	font-weight: 700;
}

@media (max-width:1100px){
	.logoContainer{
	display: none;
}
}

@media (max-width:768px){
	.header {
    display:none
}

.headerMobile {
    background-color: var(--background-layout);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-white);
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
}

.logoContainerMobile{
	position:relative;
	max-height: 94px;
    max-width: 200px;
    width: 50vw;
    height: 94px;
}

.menuModalContainer {
	position:fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.900);
	color: white;
	font-size: 16px;
	margin:0;
	padding: 0;
	z-index: 1;
}

.menuModal{
	width: 66%;
	height: 100vh;
	margin: 0 0 0 auto;
	background-color: var(--background-secondary);
}

.menuModalClose{
	display: block;
	padding: 5px;
	margin-left: auto;
}

.allBtnContainer{
	flex-direction: column;
	align-items: baseline;
}

.mainBtn {
    padding: 10px;
	display: flex;
	justify-content: space-between;
	
}

.numeroTel{
	padding: 10px;
}

.otherBtns {
    display: flex;
    flex-direction: column;
    position: static;
    background-color: var(--background-dropdown);
    font-size: 12px;
	font-weight: 600;
    line-height: 1;
}

.sectionContainer{
	width: 100%
}

.mainBtn:hover {
    color: inherit;
    text-decoration: none;
}

.otherBtn:hover{
	 color: inherit;
    text-decoration: none;
}

.current {
    /* text-decoration: underline; */
    color: var(--font-orange);
 
}

}
