.header {
	background-color: var(--background-layout);
	display: flex;
	justify-content: space-between;
	color:var(--font-white)
}

.allBtnContainer{
	display: flex;
	gap: 10px;
}

.logo{
	max-height: 94px;
	max-width: 200px;
	object-fit: contain;
}