.header {
    background-color: var(--background-layout);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-white);
    width: min(90%, 1290px);
    margin: 0 auto;
    font-weight: 600;
}

.allBtnContainer {
    display: flex;
    /* gap: 50px; */
}

/* .allBtnContainer a{
	padding: 25px;
	text-transform: uppercase;
} */

.mainBtn:hover {
    color: var(--font-orange);
    text-decoration: underline;
}

.otherBtn:hover{
	color: var(--font-orange);
    text-decoration: underline;
}

.logo {
    max-height: 94px;
    max-width: 200px;
    object-fit: contain;
}

.current {
    /* text-decoration: underline; */
    color: var(--font-default);
    font-weight: 700;
}

.inline {
    display: inline;
}

.mainBtn {
    padding: 25px;
    text-transform: uppercase;
}

.otherBtns {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    background-color: var(--background-dropdown);
    font-size: 12px;
    line-height: 1;
}

.otherBtn {
    padding: 15px;
    text-transform: uppercase;
}

.buttonEdit{
	color:var(--font-default);
}

.auth {
	color: var(--font-white);
	background-color: var(--font-orange);
	position:absolute;
	cursor:pointer;
	top: 3.5rem;
	left: 15px;
	border-radius: 5px;
	padding: 5px;
	line-height: 1;
}
