.sectionPavesContainer {
    width: min(90%, 1290px);
    margin: 0 auto;
    padding: 25px 0;
}

.sectionPavesContainerHome {
    width: min(90%, 1290px);
    margin: 0 auto;
    padding: 25px 0 75px;
}

.sectionPavesContainerContact {
    /* width:min(90%, 1290px); */
    margin: 0 auto;
    padding: 25px 0 50px;
    background-color: var(--background-secondary);
    color: var(--font-white);
}

footer .sectionPavesContainerHome,
footer .sectionPavesContainerContact,
footer .sectionPavesContainer {
    /* width:min(90%, 1290px); */
    margin: 0 auto;
    padding: 25px 0;
    background-color: var(--background-layout);
    /* color: var(--font-white) */
}

footer .sectionPavesContainer :is(input, textarea),
footer .sectionPavesContainerContact :is(input, textarea),
footer .sectionPavesContainerHome :is(input, textarea) {
    color: var(--font-default);
    background-color: var(--background-page);
}

.sectionPavesContainerContact input,
.sectionPavesContainerContact textarea {
    color: var(--font-default);
    background-color: var(--background-page);
}

.blocsContainerHome, .blocsContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 4vw;
}

.blocsContainerContact {
    width:min(90%, 1290px);
    margin: 0 auto;
    display: flex;
    gap: 4vw;
}

.blocSize {
    flex: 1;
	word-break: break-word;
}

.h2Pave,
.h2PaveHome,
.h2PaveContact {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: var(--font-ibm-plex);
    margin-bottom: 64px;
    margin-top: -50px;
}

.h2PaveHome {
    color: var(--font-orange);
}

.error {
    color: var(--font-orange);
    font-style: italic;
    font-weight: 700;
}

.texteBtnPave,
.texteBtnPaveHome,
.texteBtnPaveContact {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
}

.texteBtnPave:hover , .texteBtnPave:focus-visible{
    color: var(--background-page);
    background-color: var(--font-default);
}

.texteBtnPaveHome:hover, .texteBtnPaveHome:focus-visible {
    color: var(--background-page);
    background-color: var(--font-orange);
}

.texteBtnPave:focus-visible, .texteBtnPaveHome:focus-visible{
	outline: 2px solid var(--font-pdf-related);
  outline-offset: 2px;
}

@media (max-width:768px){
	.h2Pave,
.h2PaveHome,
.h2PaveContact{
	font-size: 30px
}

.blocsContainerHome, .blocsContainer, .blocsContainerContact{
	flex-direction: column;
}

.sectionPavesContainerContact{
	padding-top:0;
}
}
