.footer {
	background-color: var(--background-layout);
	color:var(--font-white);
	 margin: 50px auto 0;
	 width: min(90%, 1290px);
}

.footerMainContainer{
	width: 100%;
 display: flex;
 margin: 0 auto
}

.footerCopyright{
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 0.5;
}

/*
Réponse 1 : Oui, absolument !
Le sélecteur "footer .containerPave" fonctionne parfaitement même si .containerPave n'est pas un enfant direct.
Il cible tous les descendants (à n'importe quel niveau de profondeur).

Réponse 2 : Dans footer.module.css
.footer :global(.containerPave) {
  color: var(--font-orange);
  background-color: var(--background-green);
}
Note importante sur :global()
Avec les CSS Modules, vous devez utiliser :global() pour cibler une classe d'un autre module.
Cela indique explicitement que vous sortez du scope local.
*/

@media (max-width:768px){
	.footerMainContainer{
		flex-direction: column;
		align-items: center;
	}
	.footerCopyright{
		margin: 25px auto;
		/* padding: 25px 0 ; */
	}
}