.footer {
	background-color: var(--background-layout);
	color:var(--font-white);
	margin-top:50px;
}

.footerMainContainer{
	width: 80%;
 display: flex;
 justify-content: space-around;
 margin: 0 auto
}

.footerCopyright{
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 0.5;
}

/*
Réponse 1 : Oui, absolument !
Le sélecteur "footer .containerPave" fonctionne parfaitement même si .containerPave n'est pas un enfant direct.
Il cible tous les descendants (à n'importe quel niveau de profondeur).

Réponse 2 : Dans footer.module.css
.footer :global(.containerPave) {
  color: var(--font-orange);
  background-color: var(--background-green);
}
Note importante sur :global()
Avec les CSS Modules, vous devez utiliser :global() pour cibler une classe d'un autre module.
Cela indique explicitement que vous sortez du scope local.
*/