.sectionFormulaireContactContainer {
    width: min(90%, 1290px);
    margin: 0 auto;
    padding: 75px 0;
}

.error {
    color: var(--font-orange);
    font-style: italic;
    font-weight: 700;
}
