.container {
    width: min(90%, 1290px);
    margin: 0 auto;
    padding: 50px 0;
}

.deleteSection {
    display: flex;
    justify-content: space-around;
}

.h1 {
    font-family: var(--font-ibm-plex), serif;
    font-size: 30px;
    font-weight: 700;
    /* margin-bottom: 40px; */
}

.h2 {
    font-family: var(--font-actor);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
