.deleteBtn{
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

.deleteBtn svg {
	margin: auto
}

.deleteBtn:hover, .deleteBtn:focus-visible{
	color:var(--background-page);
	background-color: var(--font-default);
}

.deleteBtn:focus-visible{
	outline: 2px solid var(--font-pdf-related);
  outline-offset: 2px;
}

.error {
	color: var(--font-orange);
	font-style: italic;
	font-weight: 700;
}