.pdfContainer{
	width: 100%;
	height: 600px
}

.downloadContainer{
	display: flex;
	font-size: 15px;
	gap: 10px;
	margin: 12px 0;
}

.pdfTitle{
	color: var(--font-pdf-related);
	padding: 5px 20px;
}

.downloadBtn{
	background-color: var(--background-pdf-related);
	color: var(--font-white);
	padding: 5px 20px;
	font-weight: 500;
}