//@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&display=swap');


.tiptap.ProseMirror {
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    color: inherit;
    font-style: inherit;

    &:first-child,
    &:first-of-type {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 1rem 0;
	font-family: var(--font-ibm-plex), serif;
  }

  h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 1rem 0;
	font-family: var(--font-ibm-plex), serif;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 1rem 0;
	font-family: var(--font-ibm-plex), serif;
  }

 h4 { // quote
    font-size: 13px;
    font-weight: 400;
    margin: 0;
  }
}
